[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
python-dotenv = "*"
requests = "*"
lxml = "*"
snoop = "*"

[dev-packages]

[requires]
python_version = "3.9"
